<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automatext.crysco.app" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".IncomingSmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.automatext.crysco.app.AutoReplyListActivity$AlarmReceiver"
            android:process=":remote" />
        <receiver
            android:name="com.automatext.crysco.app.TextsListActivity$AlarmReceiver"
            android:process=":remote" />
        <receiver android:name="com.automatext.crysco.app.IncomingCallReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.automatext.crysco.app.TextsListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.automatext.crysco.app.TextDetailsActivity"
            android:label="Automatext" >
        </activity>

        <service
            android:name="com.automatext.crysco.app.MessageSender"
            android:label="MessageSender" >
        </service>

        <activity
            android:name="com.automatext.crysco.app.AutoReplyListActivity"
            android:label="Automatext" >
        </activity>
        <activity
            android:name="com.automatext.crysco.app.AutoReplyDetailsActivity"
            android:label="@string/title_activity_auto_reply_details" >
        </activity>
        <activity
            android:name="com.automatext.crysco.app.MainActivity"
            android:label="Automatext" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
